In [12]:
import pandas as pd
import numpy as np


df=pd.read_csv("학원data\성취도별 학교.csv",encoding='utf-8')
df

,1,광진구 중곡동,대원국제중학교,164명,100.00%,100.00%.1,100.00%.2,100.00%.3,27.10%,44명,162명
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,(7명/37명),NaN
1,2.0,강북구 미아동,영훈국제중학교,157명,98.30%,98.70%,100.00%,96.20%,27.60%,45명,163명
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,(4명/41명),NaN
3,3.0,강남구 수서동,대왕중학교,298명,97.60%,99.00%,97.70%,96.30%,1.80%,5명,265명
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,(1명/4명),NaN
...,...,...,...,...,...,...,...,...,...,...,...
759,381.0,양천구 신월동,양서중학교,174명,49.50%,69.00%,37.70%,42.00%,0.00%,0명,140명
760,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,(0명/0명),NaN
761,382.0,송파구 방이동,서울체육중학교,51명,45.70%,72.60%,51.00%,13.70%,0.00%,0명,49명
762,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,(0명/0명),NaN
763,NaN,NaN,평균,"83,639명",77.90%,88.60%,75.00%,70.20%,2.30%,"1,797명","65,165명"

In [13]:
df.size

8404

In [14]:
len(df.columns)

11

In [8]:
df= pd.read_csv(학원data/성취도별 학교.csv, encoding='utf-8')
df

SyntaxError: invalid syntax. Perhaps you forgot a comma? (3308965787.py, line 1)